<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Untitled Netflix Project</title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicons/favicon.ico">
  <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Ubuntu:400,900">
  <link rel='stylesheet' href="/static/stylesheets/common.css">
  <link rel='stylesheet' href="/static/stylesheets/home.css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <div class="main home">
    <header>
      <a href="/">
        <img class="logo" src="/static/images/netflix_logo.png">
      </a>
    </header>
    <section class="flex-row actions">
      <button class="action" type="button" onclick="location.href='/teams';">
        Teams
      </button>
      <button class="action" type="button" onclick="location.href='/games';">
        Find a specific game
      </button>
    </section>
  </div>
</body>
</html>
